@import "../../.cache/wal/colors-waybar.css";
*{
  font-family: JetBrainsMono NFM;
  border-radius: 10;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  background-image: linear-gradient(to bottom, @background 100%);
  border-radius: 10px;
  padding: 0px;
  border-style: none;
}

#backlight,
#battery,
#network,
#clock,
#custom-kernel,
#custom-applauncher,
#tray,
#workspaces,
#pulseaudio,
#mode{
  background-image: linear-gradient(to bottom, @color4 100%);

  margin: 5px;
  margin-right: 0px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: @cursor;

  border-style: none;
  transition-duration: 120ms;
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, @color11 100%);
  color: @cursor;
  transition-duration: 120ms;
}


#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: @foreground;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: @color8;
}
#workspaces button.focused {
  color: @color3;
  font-weight: bold;
}
#workspaces button.active {
  color: @color4;
  font-weight: bold;
}
#workspaces button.urgent {
  color: @color11;
}

#battery {
  background-color: @color4;
  color: @cursor;
}
#battery.warning,
#battery.critical,
#battery.urgent {
  color: @background;
  background-color: @color11;
}

#custom-applauncher {
  margin-left: 5px;
}

#battery {
  margin-right: 5px;
}
